@import "partial/variables.scss";
@import "partial/base.scss";
$gutter: 30px/ 2;
.page_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main {
  display: flex;
  justify-content: space-between;
  margin-left: -$gutter;
  margin-right: -$gutter;
  // max-width: calc(1440px + 141px + 37px);
}
.wrapper {
  max-width: 1440px;
  margin-left: $gutter;
  margin-right: $gutter;
  width: 100%;
}
