@import "partial/variables.scss";
@import "partial/_mixins.scss";

$gutter: 30px/ 2;

.sidebar {
  @include min_lg {
    width: 375px;
    margin-right: $gutter;
    margin-left: $gutter;
  }
  @include max_lg {
    margin-top: 20px;
  }
  min-height: 667px;
  flex-shrink: 0;
  max-width: 100%;
  background-color: #ffffff;
  .title {
    font-family: $montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    padding: 15px 15px;
    min-height: 52px;
    border-bottom: 1px solid $grey;
    color: $txt;
    position: relative;
  }
  .download_button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar_inner {
    padding: 20px 20px;
  }
}
